
h1{
	
	
	color:Black;
	font-size:30px;
	font-family:Georgia;
	
}

button
{
	
	margin:auto;
  display:block;
	
	
}



body
{
	
	background:url(http://www.ronseal.co.uk/media/1900/dh-int-wax_almond-wood-2014_rgb.jpg);
	
}


p
{
	
	
	font-size:20px;
	color:blue;
	font-family:"Arial";
}


